**/.DS_Store
**/.vscode
**/__pycache__
**/.mypy_cache
**/.ipynb_checkpoints
*.bundle.*
*.tsbuildinfo
frontend/**/lib/
frontend/**/node_modules/
frontend/labextension/package-lock.json
build/
dist/
*.egg-info
*.pyc
*.ipynb
!**/notebooks/*.ipynb
**/[uU]ntitled*
MANIFEST
nbsafety/resources/nbextension/index.js
nbsafety/resources/nbextension/index.js.map
