**/.DS_Store
**/.vscode
**/__pycache__
**/.mypy_cache
**/.ipynb_checkpoints
**/.jupyter_ystore.db
**/.pretzel
*.bundle.*
*.tsbuildinfo
core/ipyflow/resources/labextension/
core/ipyflow/resources/nbextension/
frontend/**/lib/
frontend/**/node_modules/
build/
dist/
*.egg-info
*.pyc
*.ipynb
!**/notebooks/*.ipynb
**/[uU]ntitled*
MANIFEST
.coverage
coverage.xml
htmlcov/**
.hypothesis
*.iml
