name: ipyflow

on: [push, pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ 'ubuntu-22.04', 'windows-latest' ]
        python-version: [ '3.7', '3.8', '3.9', '3.10', '3.11', '3.12', '3.13', '3.14' ]
        include:
          - python-version: '3.7'
            os: 'macos-14'
          - python-version: '3.8'
            os: 'macos-14'
          - python-version: '3.9'
            os: 'macos-14'
          - python-version: '3.10'
            os: 'macos-latest'
          - python-version: '3.11'
            os: 'macos-latest'
          - python-version: '3.12'
            os: 'macos-latest'
          - python-version: '3.13'
            os: 'macos-latest'
          - python-version: '3.14'
            os: 'macos-latest'

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e ./core/.[dev]
    - name: Lint with ruff
      run: make lint
    - name: Run type checker with mypy
      # only run on ubuntu-latest; should be same for any OS, and
      # mypy seems to have issues on windows 3.6.x specifically
      # wherein it gives a false positive syntax error
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: make typecheck
    - name: Compute coverage and run tests with pytest (excluding typing)
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version == '3.11'}}
      run: make xmlcov
    - name: Run tests with pytest, excluding typing and coverage
      if: ${{ ! (matrix.os == 'ubuntu-latest' && matrix.python-version == '3.11') }}
      run: make check_no_typing
    - name: Upload coverage report
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version == '3.11'}}
      uses: codecov/codecov-action@v1
      with:
        token: '${{ secrets.CODECOV_TOKEN }}'
        files: ./coverage.xml
        env_vars: PYTHON
        name: codecov-umbrella
        fail_ci_if_error: true
        verbose: true
